<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= domain %></title>
  <meta name="description" content="<%= domain %>" />
  <meta name="author" content="Quaric Domains">
  <meta name="theme-color" content="#040D17" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="content">
    <h1><%= domain %></h1>
    <p>Tên miền <%= domain %> đang rao bán. Bạn không chỉ mua 1 tên miền,<br />bạn đang làm 1 cách tốt nhất để bảo vệ thương hiệu!</p>

    <div>
      <img src="/startup.webp" alt="Startup"/>
    </div>

    <div>
      <span>© 2023 Quaric Domains</span>
      <a href="https://whois.inet.vn/whois?domain=<%= domain %>" target="_blank" rel="noopener noreferrer">WHOIS</a>
      <a href="mailto:hello+domains@quaric.com?subject=<%= domain %>" target="_blank" rel="noopener noreferrer">Liên hệ</a>
    </div>
  </div>
</body>

</html>