<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="black" />

  <title><%= domain %></title>
  <meta name="description" content="The website will be launched soon." />

  <% if (logoURL) { %>
    <link rel="icon" type="image/png" href="<%= logoURL %>">
  <% } %>

  <link rel="canonical" href="<%= canonicalURL %>">

  <!-- BEGIN: Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="<%= domain %>" />
  <meta property="og:title" content="<%= domain %>" />
  <meta property="og:description" content="The website will be launched soon." />
  <meta property="og:locale" content="vi" />
  <meta
    property="og:image"
    content="<%= ogImageURL %>"
  />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content="<%= domain %>" />
  <!-- END: Open Graph -->

  <!-- BEGIN: Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="<%= domain %>" />
  <meta property="twitter:description" content="The website will be launched soon." />
  <meta
    property="twitter:image"
    content="<%= ogImageURL %>"
  />
  <meta property="twitter:image:width" content="1200" />
  <meta property="twitter:image:height" content="630" />
  <meta property="twitter:image:alt" content="<%= domain %>" />
  <!-- END: Twitter -->

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="app.css?v=<%= version %>" />
</head>

<body class="opacity-0 antialiased">
  <div class="fixed bg-black w-full h-full top-0 left-0 flex">
    <div class="container relative z-10 flex flex-col w-full pt-4">
      <% if (logoURL) { %>
        <div class="relative flex justify-center border-t border-x border-neutral-800">
          <div class="absolute -top-3 -left-3 w-6 h-6">
            <div class="absolute h-3 w-full border-b border-neutral-600"></div>
            <div class="absolute h-full w-3 border-r border-neutral-600"></div>
          </div>

          <div class="p-4 border-x border-dashed border-neutral-800">
            <img src="<%= logoURL %>" alt="<%= domain %>" class="h-12 mx-auto" />
          </div>
        </div>
      <% } %>

      <div class="relative flex items-center flex-1 border-t border-x border-neutral-800">
        <div class="absolute top-0 -right-px w-6 h-6 transform translate-x-1/2 -translate-y-1/2">
          <div class="absolute h-3 w-full border-b border-neutral-600"></div>
          <div class="absolute h-full w-3 border-r border-neutral-600"></div>
        </div>

        <div class="relative flex-1 border-y border-neutral-800">
          <div class="absolute -top-3 -left-3 w-6 h-6">
            <div class="absolute h-3 w-full border-b border-neutral-600"></div>
            <div class="absolute h-full w-3 border-r border-neutral-600"></div>
          </div>

          <div class="absolute -bottom-px -right-px w-6 h-6 transform translate-x-1/2 translate-y-1/2">
            <div class="absolute h-3 w-full border-b border-neutral-600"></div>
            <div class="absolute h-full w-3 border-r border-neutral-600"></div>
          </div>

          <div class="mx-4 mb-2">
            <h1 class="font-heading font-medium text-center text-transparent text-full-width bg-clip-text bg-gradient-to-b from-neutral-200 to-neutral-500">
              <%= domain %>
            </h1>
          </div>
        </div>
      </div>

      <div class="relative flex justify-center mb-4 border border-neutral-800">
        <div class="absolute -top-3 -left-3 w-6 h-6">
          <div class="absolute h-3 w-full border-b border-neutral-600"></div>
          <div class="absolute h-full w-3 border-r border-neutral-600"></div>
        </div>

        <div class="absolute -bottom-px -right-px w-6 h-6 transform translate-x-1/2 translate-y-1/2">
          <div class="absolute h-3 w-full border-b border-neutral-600"></div>
          <div class="absolute h-full w-3 border-r border-neutral-600"></div>
        </div>

        <div class="p-4 sm:border-x border-dashed border-neutral-800">
          <div class="text-balance text-center space-y-0.5">
            <h2 class="text-lg font-medium text-neutral-200">The website will be launched soon</h2>
            <p class="text-neutral-400"><a href="mailto:dai@chanhdai.com?subject=<%= domain %>" class="text-neutral-200 border-b border-blue-500 hover:border-b-2">Contact us</a> if you're interested in the domain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="text-full-width.js"></script>
</body>

</html>
