<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= domain %></title>

  <meta name="description" content="<%= domain %>" />
  <meta name="theme-color" content="#040D17" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="tailwind.css?t=1706721558">
</head>

<body>
  <div class="fixed bg-primary-900 bg-grid-primary-800/[0.5] w-full h-full top-0 left-0 flex items-center justify-center p-4">
    <div class="absolute inset-0 top-0 [mask-image:radial-gradient(ellipse_at_center,transparent_10%,black)] bg-primary-900 pointer-events-none"></div>

    <div class="relative z-10">
      <p class="text-[8vw] lg:text-[6vw] xl:text-[4vw] py-8 font-medium text-center">
        <%= domain %>
      </p>

      <% if (isForSale) { %>
        <div class="flex flex-wrap gap-4 justify-center items-center flex-col md:flex-row">
          <span class="flex items-center px-4 py-2 rounded-full bg-primary-800 font-medium">Domain name is for sale</span>
          <a href="mailto:hello@quaric.com?subject=<%= domain %>" target="_blank" rel="noreferrer" class="flex rounded-full px-4 py-2 font-medium transition-colors bg-white text-primary-900 hover:bg-primary-100 select-none">Make an offer</a>
        </div>
      <% } %>
    </div>

    <footer class="absolute bottom-4">
      <p class="text-sm text-primary-300">© <%= new Date().getFullYear(); %> Quaric. All rights reserved.</p>
    </footer>
  </div>
</body>

</html>